"*":
  "atom-package-deps":
    ignored: [
      "go-signature-statusbar"
    ]
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".hgrc"
        ".flowconfig"
      ]
      "source.json": [
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "linter-jscs"
    ]
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "monokai-seti"
    ]
  editor:
    fontSize: 17
    preferredLineLength: 100
    tabLength: 4
  "exception-reporting":
    userId: "15281e3c-6f54-cdc4-6d48-d3dc6f44761f"
  "go-plus":
    currentPanelHeight: "25.68033381712627vh"
    currentPanelWidth: "14.960937499999998vw"
    panelOrientation: "vertical"
  linter: {}
  "linter-ui-default":
    panelHeight: 69
  "markdown-pdf":
    type: "png"
  "spell-check":
    grammars: [
      "source.asciidoc"
      "source.gfm"
      "text.git-commit"
      "text.plain"
      "text.plain.null-grammar text.md"
    ]
  "sync-settings":
    _lastBackupHash: "373763ae55d3e0484e69df7f6038708d90c86608"
    gistId: "9f9adb294e17079661f1ff2e0955d153"
    personalAccessToken: "cc194b4bf1f76d313bf9a2e86266fe2b3890e62c"
  "tree-view": {}
  welcome:
    showOnStartup: false
